<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Jela</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h1>Jela</h1>
<table>
    <tr>
        <th>Naziv</th>
        <th>Opis</th>
        <th>Cena</th>
        <th>Restoran</th>
    </tr>
    <tr th:each="jelo : ${jela}">
        <td th:text="${jelo.naziv}"></td>
        <td th:text="${jelo.opis}"></td>
        <td th:text="${jelo.cena}"></td>
        <td th:text="${jelo.restoran.naziv}"></td>
        <td>
            <a th:href="@{/izmeniJelo(id=${jelo.id})}">Update</a>
            <a th:href="@{/obrisiJelo(id=${jelo.id})}">Delete</a>
        </td>
    </tr>
</table>
<a href="/napraviJelo">Create jelo</a>
</body>
</html>